# --- Python & Compilação ---
__pycache__/
*/__pycache__/
*.pyc

# --- Virtual Environments (Vários nomes comuns) ---
.venv/

# --- Variáveis de Ambiente (SEGURANÇA) ---
.env

# --- Teus Dados e Testes ---
test/
samples/*

# --- Lixo do Sistema Operativo ---
.DS_Store
Thumbs.db

# --- Configurações do Editor ---
.vscode/
.idea/